<div>
    <logo-header></logo-header>
</div>
<div ng-controller="addContactCtrl as ac" style="min-height: 725px;">
    <div class="innerPageHeaderFixedP">
        <div class="container" >    
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" style="border-color: green">
                        <div class="panel-heading" style="border-color: green" ng-if="!ac.cntc.id">
                            {{(ac.cntc.id) ? 'Edit' : 'Add'}} Contact
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-10">
                                    <form role="form" class="form-horizontal row-border css-form" novalidate name="cform">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Name</label>
                                            <div class="col-md-3">
                                                <input type="text" ng-model="ac.cntc.firstName" placeholder="First Name" class="form-control" required />
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" ng-model="ac.cntc.middleName" placeholder="Middle Name" class="form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" ng-model="ac.cntc.lastName" placeholder="Last Name" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Email</label>
                                            <div class="col-md-8">
                                                <input type="email" ng-model="ac.cntc.emailId" placeholder="Email" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Contact Number(s)</label>
                                            <div id="fieldsetL" class="col-md-8" ng-repeat="choice in ac.choices">
                                                <div class="col-md-3">
                                                    <select ng-model="choice.ctype">
                                                        <option value="Mobile">Mobile</option>
                                                        <option value="Office">Office</option>
                                                        <option value="Home">Home</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" ng-model="choice.cnum" name="phone{{$index}}" class="form-control" placeholder="{{choice.ctype| capitalize}} number" style="display: inline; width:80%" ng-minlength = "10" maxlength = "10" limit-to="10" allow-only-numbers required >
                                                    <button type="button" class="add" ng-show="$first" ng-click="ac.addNewChoice()" style="margin-left: 7px; display: inline; width:15%">+</button>
                                                    <button type="button" class="remove" ng-show="!$first" ng-click="ac.removeChoice($index)" style="margin-left: 5px; display: inline; width:15%">-</button>
                                                </div>
                                                <div class="help-block">
                                                    <span ng-show="cform.phone{{$index}}.$error.number">The value is not a valid integer!</span>
                                                    <span ng-show="cform.phone{{$index}}.$error.minlength || cform.phone{{$index}}.$error.maxlength">Contact Number(s) should be 10 digits</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group last">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="button" class="btn btn-success btn-md" ng-click="ac.saveContact(ac.cntc)" ng-disabled="cform.$invalid">
                                                    {{(ac.cntc.id) ? 'Update' : 'Create'}}
                                                </button>
                                                <button type="button" class="btn btn-default btn-md" ng-click="ac.cancel()" >Reset</button>
                                                <button type="button" class="btn btn-default btn-md" ng-click="ac.back()" >Back</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>            
            </div>

        </div>
    </div>

</div>
<div style="padding-top: 25px;border-bottom: 2px solid green;"> </div>
<div>
    <div style="padding-top:25px;height:50px" class="text-center">
        Copyright &copy; 2016, SenecaGlobal. All Rights Reserved
    </div>
</div>