<div>
    <logo-header></logo-header>
</div>
<div ng-controller="contactCtrl" style="min-height: 725px;">
    <div class="container-fluid">    
        <div class="row">
            <div class="addContact">
                <a href="/add-contact" title="Add Contact">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i> Add Contact</button>
                </a>
            </div>
            <div class="pT25P">
                <table st-set-filter="customFilter" st-table="displayed" st-safe-src="collection" class="table table-bordered table-striped contactListView">
                    <thead>
                        <tr>
                            <th st-sort="firstName">First Name</th>
                            <th st-sort="lastName">Last Name</th>
                            <th st-sort="nationality">Email</th>
                            <th st-sort="education">Contact Number</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>
                                <input placeholder="First Name" st-search="firstName" />
                            </th>
                            <th>
                                <input placeholder="Last Name" st-search="lastName" />
                            </th>
                            <th>
                                <input placeholder="Email" st-search="emailId" />
                            </th>
                            <th>
                                <input placeholder="Contact Number" st-search="number" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in displayed" class="cPointer" ng-click="showContactInfo($event, row)">
                            <td>{{row.firstName}}</td>
                            <td>{{row.lastName}}</td>
                            <td>{{row.emailId}}</td>
                            <td>{{row.number}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" id="edit_{{$index}}" ng-click="editContact($event, row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger" id="delete_{{$index}}" ng-click="deleteContact($event, row)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr ng-if="displayed.length == 0" class="text-center">
                            <td colspan="5" style="color:red">No data to display</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="contactInfo.tmpl.html">
        <md-dialog aria-label="{{contactDialogInfo.firstName+' '+contactDialogInfo.lastName}}"  ng-cloak class="contactDialogModel">
        <md-toolbar>
        <div class="md-toolbar-tools">
        <h2>{{contactDialogInfo.firstName+' '+contactDialogInfo.lastName}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="{{assetUrl}}/images/close_icon.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        </div>
        </md-toolbar>
        <md-dialog-content>
        <div class="md-dialog-content">
        <p class="contactInfoHeading">Contact Info</p>
        <table width="100%" cellpadding="5" cellspacing="5" class="contactDialog">
        <tr>
        <td>Name</td>
        <td>{{contactDialogInfo.firstName+' '+contactDialogInfo.lastName}}</td>
        </tr>
        <tr>
        <td>Email</td>
        <td>{{contactDialogInfo.email}}</td>
        </tr>
        <tr>
        <td colspan="2" class="dialogSubHeading">
        Contact Numbers
        </td>
        </tr>
        <tr ng-repeat="contacts in contactDialogInfo.contactInfo.contacts">
        <td>
        {{contacts.ctype}}
        </td>
        <td>
        {{contacts.cnum}}
        </td>
        </tr>
        <tr ng-if="!contactDialogInfo.contactInfo">
        <td colspan="2" align='center' class='danger'>
        This user don't have contact details.
        </td>
        </tr>
        </table>
        </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
        </md-dialog-actions>
        </md-dialog>
    </script>

</div>
<div style="padding-top: 25px;border-bottom: 2px solid green;"> </div>
<div>
    <div style="padding-top:25px;height:50px" class="text-center">
        Copyright &copy; 2016, SenecaGlobal. All Rights Reserved
    </div>
</div>