<div>
    <logo-header></logo-header>
</div>
<div ng-controller="dashboardCtrl as d" class="dashboardHeaderFixedP">
    <div class="container-fluid text-center" style="padding-top: 25px;">    
        <div class="row">
            <div class="col-md-4">
                <div class="added-boder h100px border-curve-10">
                    <div>
                        <div class="dashboard-count added-bg-color border-curve-10">
                            {{(addVal > 0) ? addVal : 0}}
                        </div>
                        <div class="dashboard-glance-name">
                            Contacts Added
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="updated-boder h100px border-curve-10">
                    <div>
                        <div class="dashboard-count updated-bg-color border-curve-10">
                            {{(updateVal > 0) ? updateVal : 0}}
                        </div>
                        <div class="dashboard-glance-name">
                            Contacts Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="deleted-border h100px border-curve-10">
                    <div>
                        <div class="dashboard-count deleted-bg-color border-curve-10">
                            {{(deleteVal > 0) ? deleteVal : 0}}
                        </div>
                        <div class="dashboard-glance-name">
                            Contacts Deleted
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid text-center" style="padding-top: 25px;"> 
        <div class="row">
            <div class="col-md-4">
                <div class="added-boder h500px border-curve-10">
                    <div>
                        <div class="contact-dashbord-info border-info-curve-10">
                            Added Contacts
                        </div>
                        <div ng-show="addDetails">                            
                            <div class="row text-left dashboard-contact-info" ng-repeat="row in addDetails">
                                <div class="col-md-6">{{row.name}}</div>
                                <div class="col-md-6">{{row.number}}</div>
                            </div>
                        </div>
                        <div ng-show="!addDetails">                            
                            <div class="row text-left dashboard-contact-info">
                                <div class="col-md-12 text-center danger"> No data to display</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="added-boder h500px border-curve-10">
                    <div>
                        <div class="contact-dashbord-info border-info-curve-10">
                            Updated Contacts
                        </div>
                        <div ng-show="updateDetails">                            
                            <div class="row text-left dashboard-contact-info" ng-repeat="row in updateDetails">
                                <div class="col-md-6">{{row.name}}</div>
                                <div class="col-md-6">{{row.number}}</div>
                            </div>
                        </div>
                        <div ng-show="!updateDetails">                            
                            <div class="row text-left dashboard-contact-info">
                                <div class="col-md-12 text-center danger"> No data to display</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="added-boder h500px border-curve-10">
                    <div>
                        <div class="contact-dashbord-info border-info-curve-10">
                            Deleted Contacts
                        </div>
                        <div ng-show="deleteDetails">                            
                            <div class="row text-left dashboard-contact-info" ng-repeat="row in deleteDetails">
                                <div class="col-md-6">{{row.name}}</div>
                                <div class="col-md-6">{{row.number}}</div>
                            </div>
                        </div>
                        <div ng-show="!deleteDetails">                            
                            <div class="row text-left dashboard-contact-info">
                                <div class="col-md-12 text-center danger"> No data to display</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 25px;border-bottom:  2px solid green;">

    </div>
</div>
<div>
    <div style="padding-top:25px;height:50px" class="text-center">
        Copyright &copy; 2016, SenecaGlobal. All Rights Reserved
    </div>
</div>