<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px;position: fixed;width: 100%;">
    <style type="text/css">
        body, body .menu .mainmenu {
            font-size: 100%;
            background: none;
        }
    </style>
    <div class="navbar-stye" style="background-color: #f6f6f6;border-bottom: 2px solid green;">
        <div style="display: inline;margin-left: 2%;" class="marginL1per">
            <a class="site-main-color marginL1per" href="/" style="padding-top: 10px;text-decoration: none;" ng-click="setSelectedMenu('home')">
                <img ng-src="{{assetURL + 'app/assets/images/logo.jpg'}}" class="logo-align" alt="REST Engine" title="REST Engine" style="width: 10%"/>
            </a>
        </div>
        <div style="float:right">
            <ul class="nav navbar-nav">
                <li ng-class="{active: selectedMenu === 'dashboard'}" ng-if="userType == 1">
                    <a href="/dashboard">Home</a>
                    <span class="button-badge add-badge" id="add-status" ng-show="addStatus" title="Contacts Added"><i class="fa fa-plus"></i>&nbsp;<span id="add-val">{{addVal}}</span></span>
                    <span class="button-badge updated-badge" id="update-status" ng-show="updateStatus" title="Contacts Updated"><i class="fa fa-pencil"></i>&nbsp;<span id="update-val">{{updateVal}}</span></span>
                    <span class="button-badge delete-badge" id="delete-status" ng-show="deleteStatus" title="Contacts Deleted"><i class="fa fa-trash"></i>&nbsp;<span id="delete-val">{{deleteVal}}</span></span>
                </li>
                <li ng-class="{active: selectedMenu === 'contacts'}"><a href="/contacts">Contacts</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
