<div ng-controller="homeCtrl as h">
    <div class="form">
        <div class="forceColor"></div>
        <div class="topbar" style="position: relative; margin: -20px; padding-top: 1px; text-align: center; background-color: #fff ! important;">
            <img style="width:200px; height:60px" src="../app/assets/images/logo.jpg" />
        </div>
        <div class="topbar" style="padding-top: 15%;" ng-class="(h.loginError == 1) ? 'error':((h.loginError == 0) ? 'success' : '')">
            <div class="spanColor"></div>
            <input type="text" class="input " id="phone_num" ng-model="h.login_data.mobile_number" maxlength="10" placeholder="Mobile Number" />
        </div>
        <button class="submit" id="submit" ng-click="h.checkLogin(h.login_data)" ng-bind="(h.loginError == 0) ? 'Success !!!' : 'Enter'" ></button>
    </div>
</div>