html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    background: url(../images/bg_img.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
body .menu {
    position: absolute;
    width: 100%;
    background: inherit;
}
body .menu .mainmenu {
    background: url(../images/bg_img.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50%;
}
body .menu .mainmenu:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
body .menu .mainmenu:after {
    clear: both;
    content: "";
    display: block;
}
body .menu .mainmenu .menuitem {
    float: left;
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}
body #findpass {
    top: 50%;
    left: 5%;
    padding: 10px 20px;
    width: auto;
    background: white;
    color: rgba(0, 0, 0, 0.7);
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 1.2rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
body #findpass:focus {
    outline: none;
}
body .article {
    width: 960px;
    font-size: 1.4rem;
    margin: 20px auto;
    color: white;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 400ms linear;
    -o-transition: opacity 400ms linear;
    -webkit-transition: opacity 400ms linear;
    transition: opacity 400ms linear;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    -webkit-transition-delay: 800ms;
    transition-delay: 800ms;
    top: 0;
    position: relative;
}
body .article.active {
    opacity: 1;
    visibility: visible;
}
body .article h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form {
    margin: 0 auto;
    position: fixed;
    top: 35%;
    left: 50%;
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 350px;
    padding: 20px;
    overflow: hidden;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: inherit;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.form .forceColor {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.form:before {
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    background: inherit;
    left: -5%;
    right: 0;
    bottom: 0;
    top: -5%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.form.goAway {
    opacity: 0;
    -moz-transform: scale(0.6) translate3d(-50%, 0, 0);
    -ms-transform: scale(0.6) translate3d(-50%, 0, 0);
    -webkit-transform: scale(0.6) translate3d(-50%, 0, 0);
    transform: scale(0.6) translate3d(-50%, 0, 0);
    -moz-transition: -moz-transform 200ms ease-in-out, opacity 100ms linear;
    -o-transition: -o-transform 200ms ease-in-out, opacity 100ms linear;
    -webkit-transition: -webkit-transform 200ms ease-in-out, opacity 100ms linear;
    transition: transform 200ms ease-in-out, opacity 100ms linear;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
}
.form .topbar .spanColor {
    position: absolute;
    width: 0px;
    right: 20px;
    height: 43px;
    opacity: 0.2;
    background-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
    -o-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
    -webkit-transition: width 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out;
    -webkit-transition-delay: 0s, 250ms, 250ms;
    transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
}
.form .topbar .input {
    display: block;
    width: 100%;
    position: relative;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 1.53rem;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
}
.form .topbar .input::-webkit-input-placeholder {
    color: white;
    font-size: 1.53rem;
    font-family: Raleway;
    line-height: 1rem;
    font-weight: 200;
}
.form .topbar .input:focus {
    outline: none;
    color: white;
    border: 1px solid white;
}
.form .topbar .input.disabled:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.form .topbar .input:hover {
    border: 1px solid white;
}
.form .submit {
    padding: 10px 20px;
    width: 100%;
    font-size: 1.9rem;
    font-family: Raleway;
    font-weight: 200;
    display: block;
    color: white;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
}
.form .submit:focus {
    outline: none;
}
.form .submit:hover {
    color: white;
    border: 1px solid white;
}
.form .submit.recover {
    background: #FF2B4B;
    color: white !important;
    border: 1px solid white !important;
    transition: all 400ms linear;
}

.topbar.error .spanColor {
    width: calc(100% - 39px);
    border-top-left-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 6px;
    background-color: #FF2B4B;
}
.topbar.error + .submit {
    color: white;
}
.topbar.error .input {
    color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.topbar.error .input::-webkit-input-placeholder {
    color: white;
}

.topbar.success .spanColor {
    width: calc(100% - 39px);
    border-top-left-radius: 6px;
    border: 1px solid #26C97D;
    border-bottom-left-radius: 6px;
    background-color: #26C97D;
}
.topbar.success + .submit {
    color: white;
    border: 1px solid white;
}
.topbar.success .input {
    color: white;
    border: 1px solid #26C97D;
}
.topbar.success .input::-webkit-input-placeholder {
    color: white;
}
.menubar {
    background-color: cadetblue;
    color: white;
    float: right;
    margin-right: 0.1%;
    padding: 1.54%;
}
.menubar a{
    color: white;
    margin: 0 -23px;
    padding: 23px 22px;
    text-decoration: none;
}
.menubar a:hover{
    background-color: green;
    height: 100%;
}
.navbar-nav > li > a {
    background-color: cadetblue !important;
    margin-right: 2px;
    color: white !important;
    padding: 22px 30px;
}
.navbar-nav > li > a:hover{
    background-color: green !important;
}
.dashboard-count{
    color: white;
    float: left;
    font-size: 300%;
    padding-bottom: 5.3%;
    padding-top: 5.2%;
    width: 35%;
}
.dashboard-glance-name{
    float: right;
    font-size: 200%;
    padding-bottom: 5%;
    padding-top: 6%;
    text-align: center;
    width: 65%;
}
.border-curve-10{
    border-radius: 10px;
}
.border-info-curve-10{
    border-radius: 10px 10px 0px 0px;
}
.added-bg-color{
    background-color: green;
}
.updated-bg-color{
    background-color: orange;
}
.deleted-bg-color{
    background-color: red;
}
.added-boder{
    border:1px solid green; 
}
.updated-boder{
    border:1px solid orange; 
}
.deleted-border{
    border:1px solid red; 
}
.h100px{
    height: 100px;
}
.h500px{
    height: 500px;
}
.contact-dashbord-info{
    color: black;
    font-size: 125%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
    background-color: #ccc;
}
.navbar-nav > li.active > a{
    /*background-color: green !important;*/
    background-color: #145e15 !important;
}
.dashboard-contact-info{
    border-bottom: 0.5px dotted;
    margin: 1%;
    padding: 3%;
}
.addContact{
    padding-top: 6%;
    float: right;
    padding-right: 20px;
    padding-bottom: 25px;
}
.dashboardHeaderFixedP{
    padding-top: 5%;
}
.innerPageHeaderFixedP{
    padding-top: 6%;
}
.pT50P{
    padding-top: 50px;
}
.pT25P{
    padding-top: 25px;
}
.cPointer{
    cursor: pointer;
}
.contactDialogModel{
    width: 100%;
}
.contactDialog tr td{
    padding: 0.5%;
}
.contactDialog, contactDialog tr, .contactDialog tr td {
    border: 1px solid silver;
}
.contactDialogSubTable tr td{
    border: none;
}
.contactDialog label{
    margin-bottom: 0px !important;
}
.contactDialog .user-bkt-previlages-div{
    padding: 5px;
}
.dialogSubHeading{
    font-size: 22px;
}
.contactInfoHeading{
    font-size: 22px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    margin: 0 !important;
    padding: 0.5% !important;
}
.danger{
    color: red;
    font-weight: bold;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
    background-color: #145e15;
}
.contactListView{
    margin-left: 1%;
    margin-right: 1%;
    max-width: 98%;
}
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}
.add{
    background: green;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}
#fieldsetL{
    padding: 6px;
    float: right;
}
.css-form input.ng-invalid.ng-touched {
    border-color: red;
}

.css-form input.ng-valid.ng-touched {
    border-color: green;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
#fieldsetL div:first-child{
    padding-right: 0px;
}
#fieldsetL select{
    height: 34px;
    width: 100%;
}
#fieldsetL .help-block{
    margin-top: 45px;
    text-align: center;
}
.button-badge{
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    padding: 1px 3px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2%;
    /*display: none;*/
}
.button-badge span{
    font-weight: bold;
    font-size: 15px !important;
}
.add-badge{
    margin-right: 70%;
    background-color: green;
}
.updated-badge{
    margin-right: 36%;
    background-color: orange;
}
.delete-badge{
    margin-right: 5%;
}